<div class="container">
  <div class="col-lg-4">
    <app-cockpit
    (ServerCreated)="onServerCreated($event)"
    (blueprintCreated)="onblueprintCreated($event)">
    </app-cockpit>
    <app-server-element
    *ngFor="let serverElement of serverElements"
    [element]="serverElement">
    </app-server-element>
  </div>
</div>

<br><br>

<button class="btn btn-danger"
(click)="even = !even">THIS IS JUST A BUTTON
</button>
<ul>
  <div *ngIf="even">
      <li class="list-group-item"
      *ngFor="let evenNumber of evenNumbers">
      {{ evenNumber }}
      </li>
  </div>
  <div *ngIf="!even">
    <li class="list-group-item"
     *ngFor="let oddNumber of oddNumbers">
     {{ oddNumber }}
    </li>
  </div>
  
</ul>

